<div class="container text-center">
  <div class="row">
    <div class="col-md-auto" *ngFor="let image of images">
      <img [src]="getImageUrl(image)" alt="123" />
    </div>
    <div class="col" *ngIf="selectedCar && rentalDetail">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          Araba Adı: {{ selectedCar.carName }}
        </li>
        <li class="list-group-item list-group-item-info">
          Renk : {{ selectedCar.colorName }}
        </li>
        <li class="list-group-item list-group-item-info">
          Marka : {{ selectedCar.brandName }}
        </li>
        <li class="list-group-item list-group-item-info">
          Günlük Ücret : {{ selectedCar.dailyPrice }}
        </li>
        <li class="list-group-item list-group-item-info">
          Açıklama : {{ selectedCar.description }}
        </li>
        <li
          *ngIf="!isRentable()"
          class="list-group-item list-group-item-danger"
        >
          {{ rentalDetail.returnDate | date : "medium" }} Tarihine Kadar
          Kiralamaya Uygun Değildir.
        </li>
        <button *ngIf="isRentable()" class="btn btn-primary" type="button">Kirala</button>
      </ul>
    </div>
  </div>
</div>
